[req]
distinguished_name = dn
req_extensions = v3_req
prompt = no
[dn]
CN = vr-shooter
[v3_req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt
[alt]
DNS.1 = vr-shooter
DNS.2 = www.vr-shooter
IP.1  = 192.168.0.10
IP.2  = 127.0.0.1
IP.3  = 127.127.126.33
